<%- include("_header") -%>

  <h1>Liste des Employés (<%= all %>)</h1>

  <form action="/search" method="POST" class="form-inline my-2 my-lg-0">
    <label for="sorting">Sort by : </label>
    <select name="sorting" id="sort">
      <option value="Nom">Nom</option>
      <option value="Prénom">Prénom</option>
      <option value="Adresse">Adresse</option>
      <option value="NumeroSecuSociale">NumeroSecuSociale</option>
      <option value="Poste">Poste</option>
      <option value="Departement">Departement</option>
    </select>
  </form>

  <div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Adresse</th>
          <th>NumeroSecuSociale</th>
          <th>Poste</th>
          <th>Departement</th>
          <th class="d-print-none">
            <a class="btn btn-sm btn-success" href="/create">Ajouter</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <% for (const employe of model) { %>
          <tr>
            <td><img src="<%= employe.Avatar %>" alt="" srcset=""></td>
            <td>
              <%= employe.Nom %>
            </td>
            <td>
              <%= employe.Prénom %>
            </td>
            <td>
              <%= employe.Adresse %>
            </td>
            <td>
              <%= employe.NumeroSecuSociale %>
            </td>
            <td>
              <%= employe.Poste %>
            </td>
            <td>
              <%= employe.Departement %>
            </td>
            <td class="d-print-none">
              <a class="btn btn-sm btn-warning" href="/edit/<%= employe.idEmploye %>">Modifier</a>
              <a class="btn btn-sm btn-danger" href="/delete/<%= employe.idEmploye %>">Virer</a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>



  <%- include("_footer") -%>